<div class="wrapper">
  <div class="page-header header-filter">
    <video autoplay muted loop id="myVideo">
      <source src="assets/video/home4.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <div class="filter">
      <div class="container-fluid">
        <div class="content-center">
          <div class="brand">
            <h4 class="display-2 text-white">
              Experience the world of <br />
              digital art like never before
            </h4>
            <h4 class="text-white">
              A world of endless possibilities for digital art awaits you on our
              platform.
            </h4>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Recherche..."
            />
          </div>
          <div class="row">
            <div class="col align-self-center">
              <p class="middle">Trending hashtags :</p>
              <button
                *ngFor="let hashtag of hashtags"
                class="btn btn-white btn-sm mr-1 px-4 btn-round"
                type="button"
              >
                #{{ hashtag }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <img class="path" src="assets/img/path1.png" />

      <div class="">
        <!-- <div class="row">
          <app-feed-identity class="col-4"></app-feed-identity>
          <app-for-you-list class="col"></app-for-you-list>
          <app-feed-identity class="col-3"></app-feed-identity>
        </div> -->

        <div class="card">
          <div class="card-header">
            <tabset class="nav-tabs-danger">
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-compass-05"> </i> Feed
                </ng-template>
                <div class="container-fluide">
                  <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                      <app-feed-identity></app-feed-identity>
                    </div>
                    <div class="col-md-auto mx-5">
                      <div>
                        <app-add-post></app-add-post>
                        <app-for-you-list></app-for-you-list>
                      </div>
                    </div>
                    <div class="col col-lg-3">
                      <app-suggestion></app-suggestion>
                    </div>
                  </div>
                  <!-- <div class="row">
        <div class="col">
        <span>1 of 3</span>
        </div>
        <div class="col-md-auto">
        <span>Variable width content</span>
        </div>
        <div class="col col-lg-2">
        <span>3 of 3</span>
        </div>
        </div> -->
                </div>
                <!-- <ng-template tabHeading>
                  <i class="tim-icons icon-spaceship"> </i> Pour Vous
                </ng-template>
                <app-add-post></app-add-post> -->
                <!-- <app-searsh></app-searsh> -->
                <!-- <app-for-you-list></app-for-you-list> -->
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-compass-05"> </i> Projects
                </ng-template>
                <app-project></app-project>
              </tab>
              <!-- <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-single-02"></i> Vos abonnements
                </ng-template>
                <app-add-post></app-add-post>
                <app-searsh></app-searsh>
                <app-for-you-list></app-for-you-list>
              </tab> -->

              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-shape-star"></i>Compétition
                </ng-template>
                <app-competition></app-competition>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
