<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="card card-register">
            <div class="row">
              <div class="col-md-5 d-none d-md-block">
                <img
                  alt="First slide"
                  class="img-fluid h-100 w-100"
                  src="assets/img/sign.jpeg"
                />
              </div>

              <div class="col-md-7 col-sm-12">
                <div class="card-body">
                  <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-3">Sign In</h3>
                    <div class="form-group">
                      <input
                        class="form-control"
                        id="resetPasswordEmail"
                        placeholder="Enter email"
                        [(ngModel)]="newPasswd"
                        type="password"
                      />
                    </div>

                    <button (click)="resetPasswd()">Confirm</button>
                    <button>Annuler</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
