<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container">
                <div class="card card-register text-center">
                    <div class="card-body">
                        <div class="ml-auto mr-auto">
                            <h3 class="mb-3 text-center display-4">Reset Password</h3>
                            <div class="form-group">
                                <p>Enter the new password for your account below.</p>
                                <input class="form-control" id="resetPassword" placeholder="Enter Password" [(ngModel)]="newPasswd" type="password" />
                            </div>
                            <br />
                            <button class="btn btn-primary mx-2" (click)="resetPasswd()">
                Confirm
              </button>
                            <button class="btn btn-default">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>