<table class="table table-hover col-lg-9 mr-4">
     <thead>
       <tr>
        <th>challenge title </th>
         <th>Category</th>
         <th>deadline </th>
         <th>partenaire</th>
         <th>winner</th>
         <th>number of participants</th>
         <th></th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let sng of challengesCopy"  >
     
          <th>{{sng['title']}}</th>
          <th>{{sng['Category']}}</th>
          <th>{{sng['deadline']}}</th>
          <th>{{sng['partenaire']}}</th>
          <th>{{sng['winner'] ? sng['winnersData']['firstname']+' ' +sng['winnersData']['lastname'] : 'waiting'}}</th>

          <th>{{count(sng['participants'])}}</th>
          <th><button class="btn btn-default btn-sm" >Edit</button></th>
          <th ><button class="btn btn-default btn-sm " (click)="deteleChallenges(sng['_id'] , sng['title'])" > Delete</button></th>
          <th><button class="btn btn-default btn-sm" [routerLink]="['/Challange', sng['_id']]">Show</button>

          </th>
          
 
         
       </tr>
     </tbody>
   </table>
   