<div class="col">
  <h3>ç'est temps de partager votre merveilleux travail</h3>
  <button
    class="btn btn-danger"
    data-target="#myModal"
    (click)="myModal.show()">
    créer un nouveau poste
  </button>
  <br />
  <br />
  <div
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-black"
    #myModal="bs-modal"
    id="myModal"
    role="dialog"
    tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="myModal.hide()">
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <h4 class="title title-up">Créer une publication</h4>
        </div>
        <hr style="border-color: black; width: 100%; opacity: 0.2" />
        <div style="display: flex; align-items: center">
          <img
            alt="Circle image"
            class="img-fluid rounded-circle"
            src="assets/img/james.jpg"
            style="width: 40px; height: 40px; margin: 5px" />
          <p>ach02raf</p>
        </div>
        <div class="form-group">
          <textarea
            class="form-control overflow-auto"
            style="
              resize: none;
              border: none;
              box-shadow: none;
              max-height: none;
              height: auto;
            "
            rows="3"
            cols="50"
            placeholder="ecrire qlq chose"></textarea>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFile"
              (change)="onFileSelected($event)" />
          </div>
          <img
            *ngIf="selectedImage"
            [src]="selectedImage"
            alt="Selected Image" />
          <button *ngIf="selectedImage" (click)="clearSelectedImage()">
            Clear Selected Image
          </button>
          <button
            class="btn btn-success"
            style="width: 100%; margin-top: 30px"
            disabled>
            Publier
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
