<div class="col">
  <h3>ç'est temps de partager votre merveilleux travail</h3>
  <button
    class="btn btn-danger"
    data-target="#myModal"
    (click)="myModal.show()">
    créer un nouveau poste
  </button>
  <br />
  <br />

  <div
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-black"
    #myModal="bs-modal"
    id="myModal"
    role="dialog"
    tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="myModal.hide()">
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <h4 autoresize class="title title-up">Créer une publication</h4>
        </div>
        <hr style="border-color: black; width: 100%; opacity: 0.2" />
        <div style="display: flex; align-items: center">
          <img
            autoresize
            alt="Circle image"
            class="img-fluid rounded-circle"
            src="assets/img/james.jpg"
            style="width: 40px; height: 40px; margin: 5px" />
          <span>ach02raf</span>
        </div>
        <div class="form-group" style="height: 250px">
          <textarea
            autoresize
            class="form-control"
            style="
              border: none;
              box-shadow: none;
              max-height: none;
              resize: vertical;
              height: auto;
            "
            placeholder="ecrire qlq chose"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
