 

.custom-textarea,
.list-group-item {
  padding: 5px;
  font-size: 16px;
  line-height: 1.5; 
}

.custom-textarea {
  border: none;
  box-shadow: none;
  resize: vertical;
  height: auto;
  position: relative;
}

.custom-textarea ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 1;  
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff ;
 
  border: 1px solid #ccc ;
  z-index: 10;
}

.custom-textarea ul li {
  padding: 3px;
  cursor: pointer;
}

.custom-textarea ul li:hover {
  background-color: #f5f5f5 ;
}

.inputtag {
  margin-top: 5px;
  min-height: 100px;
  height: fit-content;
  z-index: 1;
}

ul.list-group {
  width: 160px;
}

ul.list-group li,
.hashtag {
  color: #1F2251;
}

.list-group-item {
  margin-bottom: -0.0625rem;
  background-color: #fff ;
  font-size: 10px;
  border: 0.0625rem solid #ccc ;
}

.post-text {
  position: relative;
}

.modal-content {
  padding: 10px;
}

.modal-header {
  padding: 0px;
}
ul.list-group {
  max-height: 100px;
  overflow-y: scroll;
  width: 160px;
}



// to custom scroll 

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color:   #f200ce ;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


