.custom-textarea {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  resize: vertical;
  height: auto;
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background-color: #1f2251;
}

textarea::-webkit-scrollbar-thumb {
  cursor: default;
  background-color: #fff;
  border-radius: 6px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #aba7a7;
}
