.flex-column {
  display: flex;
  flex-direction: column !important;
}
.page-header {
  /* min-height: 100vh; */
  max-height: none; 
  padding: 0;
  color: #ffffff;
  position: relative;
   overflow :visible ;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}