<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />
    <br /><br /><br /><br /><br />

    <div class="container">
      <br /><br /><br />
      <div class="card">
        <div class="card-header">
          <tabset class="d-flex flex-column nav-link">
            <tab heading="Users">
              <app-all-users></app-all-users>
            </tab>
            <tab heading="Reported Posts">
             <app-repoted-post></app-repoted-post>
            </tab>
            <tab heading="Challenges">
              <app-challenges></app-challenges>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
