<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />
    <br /><br /><br /><br /><br />

    <div class="container">
      <br /><br /><br />
      <div class="card">
        <div class="card-header">
          <tabset class="d-flex flex-column nav-link">
            <tab heading="Users">
              <app-all-users></app-all-users>
            </tab>
            <tab heading="Reported Posts">
              <div class="row justify-content-center">
                <table class="table table-hover col-lg-9 mr-4">
                  <thead>
                    <tr>
                     <th></th>
                      <th>username</th>
                      <th>email</th>
                      <th>text</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sng of ListCopy" >
                      <td>
                        <img alt="... " class="avatar img-raised" src="assets/img/james.jpg " /></td>
                      <td>{{ sng["userData"]["username"] }}</td>
                      <td>{{ sng["userData"]["email"] }}</td>
                      <td>{{ sng["text"] }}</td>
                      <td *ngIf="sng['state']">
                          <button type="button"  class="btn btn-info btn-sm ml-3"  (click)="handleClick(sng['_id'])"  >
                        waiting
                      </button> </td>
                      <td *ngIf="!sng['state']"> 
                        Donne
                     </td>
                     <button type="button"  class="btn btn-info btn-sm ml-3"  (click)="showPub(sng['publiction_id'])"  >
                      Show
               </button>
              
                      
                    </tr>
                  </tbody>
                </table>
                

                
              </div>
            </tab>
            <tab heading="Challenges">
             <app-challenges></app-challenges>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Why are you reposting this post?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <div *ngFor="let item of ListCopy">
      <div class="card card-blog">
        <div class="p-3 d-flex align-items-center">
          <img alt="... " class="avatar img-raised" src="assets/img/james.jpg " />
          <div class="pl-3">
            <span
              class="text-white"
              [routerLink]="['/profile', item['userData']['username']]">
              {{ item["userData"]["firstname"] }} {{ item["userData"]["lastname"] }}
            </span>
            <div class="text-muted">
              <small>
                {{ item["date"] }}
              </small>
            </div>
          </div>
          
        </div>
    
        <carousel
          class="card-image"
          *ngIf="item.img.length != 0"
          [showIndicators]="false"
          pause>
          <slide *ngFor="let img of item.img" class="text-center">
            <img [src]="getImage(img['idimg'], item['_id'])" />
          </slide>
        </carousel>
        <div class="card-body">
          <h5 class="card-title">
            {{ item['text'] }}
          </h5>
          
          <div class="card-footer">
            <div class="stats stats-right">
              
    
              <div [collapse]="isCollapsed[item._id]" [id]="item._id">
                <div class="card">
                  <div>
                    <div>
                      <app-add-comment
                        [idPub]="item._id"
                        [listComm]="item.commentaires"></app-add-comment>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
    
 
    
  </div>
   
</ng-template>
