<div class="grid-container" *ngIf="projectsCopy">
  <div class="row">
    <div *ngFor="let project of projectsCopy">
      <div (click)="vueCompt(project)">
        <div class="grid-item mx-3" data-project="Project 2">
          <carousel
            class="card-image"
            *ngIf="project['img']"
            [showIndicators]="false"
            pause
          >
            <slide *ngFor="let img of project['img']" class="text-center">
              <img [src]="getImage(img['idimg'], project['_id'])" />
            </slide>
          </carousel>
          <div class="overlaytools">
            <p class="mx-2">
              {{ project["tools"] }}
            </p>
          </div>

          <div class="overlay">
            <h3>
              {{ project["title"] }}
            </h3>
            <p class="mx-2" *ngFor="let categorie of project['catg']">
              {{ categorie }}
            </p>
          </div>
        </div>
        <div class="description mt-2 d-flex justify-content-between">
          <a
            class="mx-3 text-light"
            [routerLink]="['/profile', project['userData']['username']]"
          >
            {{ project["userData"]["firstname"] }}
            {{ project["userData"]["lastname"] }}
          </a>
          <p>
            <i class="fas fa-eye"></i> {{ project["vueNumber"] }}
            <span class=""
              ><i class="fas fa-comment" style="margin-left: 5px"></i>
              {{ project["coutCommentaire"] }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
