.grid-container {
  margin-left: 60px;
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.grid-item {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  margin-top: 15px;
}

.description {
  position: relative;
  width: 310px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlaytools {
  transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .overlaytools {
  position: absolute;
  bottom: 200px;
  top: 5;
  left: 5;
  right: 0;
  background-color: rgba(235, 62, 251, 0.908);
  color: #fff;
  padding: 10px;
  opacity: 0.8;
}

.overlay {
  transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 2, 9, 0.768);
  color: #fff;
  padding: 10px;
  opacity: 0.8;
}

.overlay h3 {
  margin: 0;
}

.overlay p {
  margin: 5px 0;
  font-size: 1rem;
}

.overlay i {
  margin-right: 5px;
}
