<div class="grid-container" *ngIf="projectsCopy">
  <div class="row">
    <div *ngFor="let project of projectsCopy">
      <div>
        <div class="grid-item mx-3" data-project="Project 2">
          <!-- <img src="../../../assets/img/{{ project.img }}" alt="Project 2" /> -->

          <div class="overlaytools">
            <p class="mx-2">
              {{ project["tools"] }}
            </p>
          </div>

          <div class="overlay">
            <h3>
              {{ project["title"] }}
            </h3>
            <p class="mx-2" *ngFor="let categorie of project['catg']">
              {{ categorie }}
            </p>
          </div>
        </div>
        <div class="description mt-2 d-flex justify-content-between">
          <p class="mx-3">{{ project["title"] }}</p>
          <p>
            <i class="fas fa-heart"></i> {{ project["countReaction"] }}
            <span class=""
              ><i class="fas fa-comment" style="margin-left: 5px"></i>
              {{ project["coutCommentaire"] }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
