<br/>
<br/>
<br/>
<br/>
<br/>
<br/> 
<br/>
<div class="container">
  <h3 *ngIf="challange">
    Challange title : {{challange['title']}}
  </h3>
      <div *ngFor="let item of challangeCopy" style="width : 50%" class="p-3 d-flex align-items-center" >
          <div class="card card-blog">
            <div class="p-3 d-flex align-items-center">
              <img alt="... " class="avatar img-raised" src="assets/img/james.jpg " />
              <div class="pl-3">
               <span
                 class="text-white">
                 {{ item["userData"]["firstname"] }} {{ item["userData"]["lastname"] }}
               </span>
              
                <button class="btn btn-success" style="margin-left: 150px;" (click)="winner(item['id_user'])" >winner ?</button>
              
             </div>
            
            
            </div>
        
            <carousel
              class="card-image"
              *ngIf="item['img']"
              [showIndicators]="false"
              pause>
              <slide *ngFor="let img of item['img']" class="text-center">
                <!-- <img [src]="getImage(img['idimg'], item['_id'])" /> -->
                <img   src="../../../assets/img/images1680823107821.png" />
              </slide>
            </carousel>
          
          </div>
        </div>  
</div>
 
   
  
   