 
   
          <tabset  class="nav-tabs-primary">
            <tab  >
              <ng-template tabHeading>
                <i class="tim-icons icon-align-center-2"> </i> Challenge list
              </ng-template>
              <app-show-challenge></app-show-challenge>
            </tab>
            
            <tab >
              <ng-template tabHeading>
                <i class="tim-icons icon-plus"> </i> Add challenges
              </ng-template>
             <app-add-challenge></app-add-challenge>
            </tab>
          </tabset>
       

 
