<div style="display: flex; align-items: center">
  <div class="form-group">
    <form (ngSubmit)="onSubmit()">
      <div class="alert alert-danger" role="alert" *ngIf="invalide">
        This is a danger alert—check it out!
      </div>
      <h4 class="title title-up">Add Project</h4>
      <label class="mt-4" for="">Title</label>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="inputValueHashtag"
        #inp
        (keydown.enter)="addHashtagg(inp.value)"
        placeholder="Enter Title..."
      />

      <label class="mt-2" for="">Category</label>
      <select
        class="form-control"
        [(ngModel)]="inputValueCategory"
        id="exampleFormControlSelect1"
      >
        <option *ngFor="let cat of category" class="text-dark">
          {{ cat }}
        </option>
      </select>

      <label class="mt-2" for="">Hashtag</label>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="inputValueHashtag"
        #inp
        (keydown.enter)="addHashtagg(inp.value)"
        placeholder="Enter Hashtags..."
      />

      <div class="hashtag-list">
        <div class="hashtag" *ngFor="let hash of tabbleauHashtag">
          <span class="hashtag-text badge badge-pill badge-info"
            >{{ hash }}
            <span class="remove-icon" (click)="removeHashtag(hash)"
              >x</span
            ></span
          >
        </div>
      </div>

      <label class="mt-2" for="">Tools</label>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="inputValueTools"
        #inpTools
        (keydown.enter)="addTools(inpTools.value)"
        placeholder="Enter tools..."
      />

      <div class="hashtag-list">
        <div class="hashtag" *ngFor="let tool of tabbleauTools">
          <span class="hashtag-text badge badge-pill badge-warning"
            >{{ tool }}
            <span class="remove-icon" (click)="removeTools(tool)">x</span></span
          >
        </div>
      </div>

      <div class="mt-2" class="custom-file">
        <label for="customFile" class="form-label"
          >Choose one or more images</label
        >
        <input
          type="file"
          multiple
          class="custom-file-input"
          id="customFile"
          (change)="onFileSelected($event)"
        />
      </div>
      <br /><br />

      <!-- <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="exampleCheck1"
            [(ngModel)]="isCopyrightChecked"
          />
          ajouter les droits d'auteur ?
          <span class="form-check-sign">
            <span class="check"></span>
                  </span>
                  </label>
            </div> -->

      <carousel *ngIf="images.length != 0" [showIndicators]="false" pause>
        <slide *ngFor="let image of images; let i = index" class="text-center">
          <img
            *ngIf="image"
            class="d-block w-100"
            [src]="image.url"
            [alt]="image.name"
          />
          <button
            class="btn btn-primary btn-fab btn-icon btn-round"
            (click)="clearSelectedImage(index)"
          >
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </slide>
      </carousel>
    </form>
  </div>

  <!-- <p>{{ loggedInUser["firstname"] }} {{ loggedInUser["lastname"] }}</p> -->
</div>
