<h3><i class="fas fa-trophy"></i> Current Challenges</h3>
<div class="row">
  <div *ngFor="let challenge of challengeWithOutWinner" class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 mb-6 mb-lg-0">
            <h1 style="padding-left: 20px" class="mt-2">
              {{ challenge["title"] }}
            </h1>
            <p class="text-white" style="padding-left: 20px">
              Category : {{ challenge["Category"] }}
            </p>

            <p class="text-white" style="padding-left: 20px">
              Partenaire : {{ challenge["partenaire"] }}
            </p>

            <p class="text-muted mt-4" style="padding-left: 20px">
              {{ challenge["description"] }}
            </p>

            <p class="text-white mt-4" style="padding-left: 20px">
              <i class="fas fa-users mr-2"></i>
              {{ reactioncount(challenge["participants"]) }}
              <i class="fas fa-calendar-alt mr-2 ml-4"></i>
              {{ format(challenge["deadline"]) }}
            </p>

            <button
              class="btn btn-warning mt-4"
              (click)="openModale(challenge['_id'])">
              Appliquer maintenant
            </button>
          </div>

          <div class="col-lg-6">
            <carousel
              class="w-50"
              *ngIf="challenge['image']"
              [showIndicators]="false"
              pause>
              <slide *ngFor="let img of challenge['image']" class="text-center">
                <img [src]="getImage(img['idimg'], challenge['_id'])" />
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3><i class="fas fa-medal"></i> Finished Challenges</h3>
<div class="row">
  <div *ngFor="let challenge of challenges" class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 mb-6 mb-lg-0">
            <h1 style="padding-left: 20px" class="mt-2">
              {{ challenge["title"] }}
            </h1>
            <p class="text-white" style="padding-left: 20px">
              Category : {{ challenge["Category"] }}
            </p>

            <p class="text-white" style="padding-left: 20px">
              Partenaire : {{ challenge["partenaire"] }}
            </p>

            <p class="text-muted mt-4" style="padding-left: 20px">
              {{ challenge["description"] }}
            </p>

            <p
              class="text-white p-3 d-flex align-items-center"
              style="padding-left: 20px">
              <span class=""><i class="fas fa-trophy mr-1"></i>Winner :</span>
              <a
                class="text-danger font-weight-bold"
                [routerLink]="[
                  '/profile',
                  challenge['winnersData']['username']
                ]">
                <img
                  alt="... "
                  class="avatar img-raised ml-4 mr-2 mt-2"
                  src="assets/img/james.jpg " />
                {{ challenge["winnersData"]["firstname"] }}
                {{ challenge["winnersData"]["lastname"] }}
              </a>
            </p>

            <a class="btn btn-warning mt-4"> Appliquer maintenant </a>
          </div>

          <div class="col-lg-6">
            <carousel class="w-50" [showIndicators]="false">
              <slide *ngFor="let img of challenge['image']" class="text-center">
                <img [src]="getImage(img['idimg'], challenge['_id'])" />
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade modal-black"
  #myModal="bs-modal"
  id="myModal"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
      </div>
      <hr style="border-color: rgb(44, 44, 44); width: 100%; opacity: 0.2" />
      <div>
        <form (submit)="onSubmit()">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <label
                  for="inputImage"
                  class="form-label-image"
                  style="
                    color: rgba(255, 255, 255, 0.6);
                    background: cadetblue;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin-top: 10px;
                  "
                  >Choose an image</label
                >
                <input
                  type="file"
                  multiple
                  class="custom-file-input"
                  id="customFile"
                  (change)="onFileSelected($event)" />
              </div>
              <carousel *ngIf="images" [showIndicators]="false" pause>
                <slide
                  *ngFor="let image of images; let i = index"
                  class="text-center">
                  <button
                    class="btn btn-primary btn-fab btn-icon btn-round"
                    (click)="clearSelectedImage(i)">
                    <i class="tim-icons icon-gift-2"></i>
                  </button>
                  <img
                    *ngIf="image"
                    class="d-block w-100"
                    [src]="image['url']"
                    [alt]="image['name']" />
                </slide>
              </carousel>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary mt-4">
                  Submit
                </button>
              </div>
              <div class="col">
                <button class="btn btn-success mt-4" (click)="myModal.hide()">
                  ok
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- your modal content here -->
</div>
