<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top">
  <div class="container">
    <div class="navbar-translate"></div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">Mike Scheinder</h1>
          <h5 class="text-on-back">01</h5>
          <p class="profile-description">
            Offices parties lasting outward nothing age few resolve. Impression
            to discretion understood to we interested he excellence. Him
            remarkably use projection collecting. Going about eat forty world
            has round miles.
          </p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href="https://twitter.com/creativetim"
              target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-dribbble btn-round"
              href="https://dribbble.com/creativetim"
              target="_blank">
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/mike.jpg" />

              <h4 class="title">Transactions</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Wallet">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">COIN</th>
                          <th class="header">AMOUNT</th>
                          <th class="header">VALUE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>7.342</td>
                          <td>48,870.75 USD</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>30.737</td>
                          <td>64,53.30 USD</td>
                        </tr>
                        <tr>
                          <td>XRP</td>
                          <td>19.242</td>
                          <td>18,354.96 USD</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Send">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Pay to </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="e.g. 1Nasd92348hU984353hfid"
                          type="text" />

                        <span class="form-text">
                          Please enter a valid address.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Amount </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="1.587"
                          type="text" />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round float-right"
                    type="submit">
                    <i class="tim-icons icon-send"> </i>
                  </button>
                </tab>
                <tab heading="News">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Latest Crypto News</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>The Daily: Nexo to Pay on Stable...</td>
                        </tr>
                        <tr>
                          <td>Venezuela Begins Public of Nation...</td>
                        </tr>
                        <tr>
                          <td>PR: BitCanna â Dutch Blockchain...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
