.card-blog .card-image img {
  height: 350px;
  /* set a fixed height */
  width: 100%;
  /* set a percentage width */
  object-fit: cover;
  /* scale the image to cover the container, preserving aspect ratio */
}
