<div *ngFor="let item of List">
  <div class="card card-blog">
    <div class="p-3">
      <img
        alt="... "
        class="avatar img-raised"
        src="assets/img/james.jpg "
      /><span class="pl-3"> Denise Coldewey </span>
      <div class="text-muted">
        {{ item.date }}
      </div>
    </div>

    <div class="card-image">
      <img
        class="img rounded"
        src="./../../../../assets/img/{{ item.images }} "
      />
    </div>
    <div class="card-body">
      <span class="category text-info" *ngFor="let hash of item.hashtag">
        {{ hash }}
      </span>
      <h5 class="card-title">
        {{ item.text }}
      </h5>
      <div class="card-footer">
        <div
          ngbCollapse
          [ngbCollapseToggle]="isCollapsed"
          class="stats stats-right"
        >
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic example"
          >
            <button
              class="btn btn-sm"
              type="button"
              aria-controls="collapseThree"
            >
              <i class="tim-icons icon-heart-2"></i>
              342 ·
            </button>
            <button
              class="btn btn-sm"
              type="button"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseThree"
            >
              <i
                class="tim-icons icon-single-copy-04"
                [class.icon-rotate]="!isCollapsed"
              ></i>
              45
            </button>
          </div>

          <div ngbCollapse [ngbCollapseToggle]="isCollapsed">
            <div class="card">
              <div id="collapseThree" [ngbCollapse]="isCollapsed">
                <div>
                  <app-add-comment></app-add-comment>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
