<div *ngFor="let item of List">
  <div class="card card-blog">
    <div class="p-3 d-flex align-items-center">
      <img alt="..." class="avatar img-raised" src="assets/img/james.jpg" />
      <div class="pl-3">
        <span class="text-white"> Denise Coldewey </span>
        <div class="text-muted">
          <small>
            {{ format(item.date) }}
          </small>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between ml-auto">
        <div class="dropdown" dropdown>
          <i
            aria-expanded="false"
            aria-haspopup="true"
            data-toggle="dropdown"
            dropdownToggle
            id="dropdownMenuButton"
            class="fas fa-ellipsis-v"
          ></i>
          <div
            aria-labelledby="dropdownMenuButton"
            class="dropdown-menu"
            *dropdownMenu
          >
            <a class="dropdown-item" href=""> signaler </a>
          </div>
        </div>
      </div>
    </div>

    <carousel
      class="card-image"
      *ngIf="item.img.length != 0"
      [showIndicators]="false"
      pause
    >
      <slide *ngFor="let img of item.img" class="text-center">
        <img [src]="getImage(img.idimg, item._id)" />
      </slide>
    </carousel>
    <div class="card-body">
      <h5 class="card-title">
        {{ item.text }}
      </h5>
      <!-- <carousel
        class="card-image"
        *ngIf="item.img.length != 0"
        [showIndicators]="false"
        pause
      >
        <slide *ngFor="let img of item.img; let i = index" class="text-center">
          <img class="img rounded" src="assets/img/{{ img.imgName }}" />
        </slide>
      </carousel> -->
      <div class="card-footer">
        <div
          ngbCollapse
          [ngbCollapseToggle]="isCollapsed"
          class="stats stats-right"
        >
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic example"
          >
            <button
              class="btn btn-sm"
              type="button"
              aria-controls="collapseThree"
              (click)="likePost(item._id)"
            >
              <i
                [class]="
                  reaction(item.reaction) ? 'fas fa-heart' : 'far fa-heart'
                "
                [style.color]="reaction(item.reaction) ? 'text-danger' : 'gray'"
              ></i>

              {{ reactioncount(item.reaction) }}
            </button>

            <button
              class="btn btn-sm"
              type="button"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
            >
              <i
                class="tim-icons icon-single-copy-04"
                [class.icon-rotate]="!isCollapsed"
              ></i>
              {{ reactioncount(item.commentaires) }}
            </button>
          </div>

          <div ngbCollapse [ngbCollapseToggle]="isCollapsed">
            <div class="card">
              <div [ngbCollapse]="isCollapsed">
                <div>
                  <app-add-comment
                    [idPub]="item._id"
                    [listComm]="item.commentaires"
                  ></app-add-comment>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
