.card-image img {
  height: 150;
  /* set a fixed height */
  width: 150;
  /* set a percentage width */
  object-fit: cover;
  /* scale the image to cover the container, preserving aspect ratio */
}

.card-profile,
.card-testimonial {
  margin-top: 30px;
  text-align: center;
}

.card {
  background: #1f2251;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.card-profile .card-image {
  position: relative;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}
