<!-- <div class="input-group">
     <div class="input-group-prepend">
       <span class="input-group-text"><i class="fa fa-search"></i></span>
     </div>
     <input
       type="text"
       class="form-control"
       placeholder="Recherche..."
     />
 
    
  </div> -->

<div class="row" style="padding: 15px">
    <select class="btn btn-primary dropdown-toggle dropdown-toggle btn-sm mr-1 form-select" aria-label="Default select example">
    <option selected>Art Direction</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
    <input style="padding: 5px" class="btn btn-primary btn-sm mr-1 form-select" type="color" ng-model="color" />
    <select class="btn btn-primary dropdown-toggle dropdown-toggle btn-sm mr-1 form-select" aria-label="Default select example">
    <option selected>Tools</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

    <select class="btn btn-primary dropdown-toggle dropdown-toggle btn-sm mr-1 form-select" aria-label="Default select example">
    <option selected>Schools</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>